* {
	margin: 0;
	padding:0;
}


body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/564x/ae/a7/73/aea773c3e46aaabf0fe49a89b3f577af.jpg");
	font-family: sans-serif;
	color: black;
	text-align: center;
	font-size: 14px;
	line-height: 175%;
}

strong {
	color: purple;
}

.dimensions {
	 margin-left: 20%; margin-right: 20%; margin-top: 0cm; margin-bottom: 0cm;
}

#background {
	background-color: rgba(255,245,238,0.85); 
	height: 100%;
}

.container {
	color: steelblue;
	font-variant: small-caps;
	background-color: white;
}

img {
	width: 50%;
	margin: auto;
	outline-style: dotted;
	outline-color: lightslategrey;
	outline-width: 2px;
}

h1 {
	color: steelblue;
	font-variant: small-caps;
	font-size: 38px;
	padding: 20px;
}

h2 {
	color: purple;
	background-color: mistyrose;
	font-size: 18px;
}

a {
	color: mediumvioletred;
	text-decoration: none;
	background-color: mistyrose;
	padding: 2px;
}

p {
	font-family: sans-serif; font: helvetica; color: black;
}

table {
	color: none;
	outline-style: none;
}
